{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}<title>Reset Password</title>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'grumblr/css/register.css' %}">{% endblock %}
{% block content %}
  <div class="register-page" style="text-align: center">
  {% if validlink %}
    <div class="form">
      <p>Please enter your new password twice.<br />
         So we can verify you typed it in correctly.</p>

      <form action="" method="post" class="form-signup">
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change my password" /></td>
            </tr>
        </table>
        {% csrf_token %}
      </form>
    </div>
  {% else %}
    <h1>Password reset unsuccessful</h1>
    <p>The password reset link was invalid, <br />
    possibly because it has already been used. <br />
    Please request a new password reset.</p>
  {% endif %}
  </div>
{% endblock %}