{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}<title>Reset Password</title>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">{% endblock %}
{% block content %}
<div class="register-page" style="text-align: center">
  <div style="display: inline-block; margin-top: 20rem;">
    <p>Your password has been set.  You may go ahead and log in now.</p>
    <p><a href="{{ login_url }}">Log in</a></p>
  </div>
</div>
{% endblock %}