{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}<title>Reset Page</title>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">{% endblock %}
{% block content %}
  <div class="register-page" style="text-align: center">
    <div style="display: inline-block; margin-top: 20rem;">
      {% for error in form.non_field_errors %}
      <p> {{error}} </p>
      {% endfor %}

      <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
      <p>You should be receiving it shortly.</p>
    </div>
  </div>
{% endblock %}